<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bulma/css/bulma.min.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <header>
      <div class="hero has-background-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Phonebook Project</h1>
            <h2 class="subtitle">Python, Flask and Bulma all cool stuff together.</h2>
          </div>
        </div>
      </div>
    </header>
    <!-- Main section -->
    <section class="section">
      <div class="container">
        <div style="width: 50%">
          <form action="{{ url_for('create') }}" method="post">
            <div class="field">
              <label class="label" for="first">Name</label>
              <div class="control">
                <input class="input is-primary" type="text" name="first" placeholder="Ex. John Doe" autocomplete="off">
              </div>
            </div>
            <div class="field">
              <label class="label" for="email">Email</label>
              <div class="control">
                <input class="input is-primary" type="email" name="email" placeholder="Ex. johndoe@gmail.com" autocomplete="off">
              </div>
            </div>
            <div class="field">
              <label class="label" for="phone">Phone Number</label>
              <div class="control">
                <input class="input is-primary" type="text" name="phone" placeholder="Ex. 90391234567" autocomplete="off">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary">Add</button>
              </div>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th><abbr title="First Name">First</abbr></th>
              <th><abbr title="Last Name">Last</abbr></th>
              <th><abbr title="Phone Number">Phone</abbr></th>
              <th><abbr title="Update a contact">Update</abbr></th>
              <th><abbr title="Delete a contact">Delete</abbr></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th><abbr title="Number of contacts">Count: {{contacts |count }}</abbr></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          <div class="columns">
          <tbody>
            {% for contact in contacts %}
            <form method="post" action="{{ url_for('update') }}">
              <tr>
                <td>
                  <input class="input" type="text" name="cid" value="{{ contact.id }}" readonly style="border: none;">
                </td>
                <td>
                  <input class="input" type="text" name="first" value="{{ contact.first }}" style="border:none;">
                </td>
                <td>
                  <input class="input" type="text" name="last" value="{{ contact.last }}" style="border:none;">
                </td>
                <td>
                  <input class="input" type="text" name="phone" value="{{ contact.phone }}" style="border:none;">
                </td>
                <td>
                  <input class="has-text-link" type="submit" value="Update" style="background-color: none; border:0; padding:0; display:inline; cursor:pointer;">
                </td>
              </form>
                <td>
                  <a class="has-text-danger" href="{{ url_for('delete', cid=contact.id) }}">Delete</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>
